{% include 'foodorder/navbar.html' %}
{% load static %}

<!doctype html>

{% block header %}
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
{% endblock header %}

{% block content %}
<br>

<div class="container">
    <div class="main main-raised">        
        
        <div class="container-fluid"> 
            <div style="margin-top: -24px; color: white; ">                                    
                <ul class="nav nav-tabs" style="background-color: green">                    
                    <li class="active" style="padding-top: 0.7em; padding-bottom: 0.7em; ">
                        <h4>ALLE ORDRER</h4>
                    </li>
                </ul>
            </div>        
        </div>
    
        <div class="container-fluid">
            <a class="btn btn-default" id="dp" data-date-format="yyyy-mm-dd" data-date="{{ current_order_date|date:'Y - m - d' }}" > {{ current_order_date|date:'Y - m - d' }} </a>            
                {% if items|length != 0 and date|date:'d' == current_order_date|date:'d' and is_todays_order_sent == False%}                     
                    <a class="btn btn-default" style="padding-left: 25px; padding-right: 25px" onclick="return confirm('Er du sikker på du vil bestille alle dagens ordrer?')" href="{% url 'send_order' date_year=current_order_date.year date_month=current_order_date.month date_day=current_order_date.day %}"> send ordre </a>
                {% endif %}
        </div>    
    
        <!-- if there are any items today  -->
        {% if items|length != 0 %}
        <!-- Start of table -->        
            <table class="table" id="sort-table">                            
                
                <thead>
                    <tr>
                        <th class="text-center collapse_table_th" > Nr </th>
                        <th class="text-left  " id="no-padding-right"> Produkt </th> 
                        <th class="text-center" id="no-padding"   > Navn </th>
                        <th class="text-center" id="no-padding"   > Små </th>
                        <th class="text-center collapse_table_th" > Pris lille </th>
                        <th class="text-center" id="no-padding"   > Store </th>
                        <th class="text-center collapse_table_th" > Pris Stor </th>
                        <th id="no-padding"></th>
                    </tr>                
                </thead>                            

                
                <tbody id="product_table_body">
                    {% for item in items %}                 
                        <tr id="{{ product.pk }}" class="admin-tabsle-tr" data-toggle="modal" data-target="#itemmodal-{{ item.pk }}" style="cursor: pointer;">                          
                            <td class="text-center collapse_table_td"   > <label class="form-control" style="margin-bottom: 0px; border-width: 0px;"> {{ item.product__nr }} </label> </td>
                            <td id="no-padding-right"                   > {{ item.product__title }} </td>                                
                            <td class="text-center" id="no-padding"     > {{ item.order__user__first_name }} {{ item.order__user__last_name|slice:"1" }}.  </td>
                            <td class="text-center" id="no-padding"     > {{ item.small_order_quantity }} </td>                                 
                            <td class="text-center collapse_table_td"   > {{ item.product__small_product_price }} </td>
                            <td class="text-center" id="no-padding"     > {{ item.large_order_quantity }} </td>
                            <td class="text-center collapse_table_td"   > {{ item.product__large_product_price }} </td>
                            <td id="no-padding-left"><i class="fa fa-angle-right" aria-hidden="true"></i></td>
                        </tr>                            
                    {% endfor %}                   
                </tbody><!-- End of items table body -->
            </table> <!-- End of items table -->            
            <!-- End of table -->   
        
        {% else %} <!-- - if there aren't any orders -->        
            <div style="text-align: center">
                <h1> Ingen bestillinger {{ current_order_date|date:'Y - m - d' }} </h1>
            </div><br> 
        {% endif %}            
        <br>
    </div>
</div>

<!-- modal to show when an items-table row is clicked -->
{% for item in items %}
<div class="container">
    <div class="modal fade" id="itemmodal-{{ item.pk }}"> <br><br><br><br>    
        <div class="modal-dialog animated" style="width: 90%; margin: auto;">
            <div class="modal-content">                

                <div class="modal-header">
                    <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>                    
                    <h4 class="modal-title" > Produkt detaljer </h4> <br>
                </div>

                <form action="{% url 'update_item_quantity' %}" method="post" id="modal-cart-form"> {% csrf_token %}
                    
                    <table class="table">                        
                        <tbody>                                
                            <!-- If the user provided an email when he registered -->
                            {% if item.order__user__email != "" %} <tr> <td class="text-left" > <strong> Email: </strong> {{ item.order__user__email }}</td> </tr> {% endif %}
                            
                            <tr> 
                                {% if item.order__user__first_name != "" or item.order__user__last_name != "" %} 
                                    <td class="text-left" > <strong> Navn: </strong> 
                                        {{ item.order__user__first_name }} {{ item.order__user__last_name }}
                                    </td> 
                                {% else %}
                                    <td class="text-left"> <strong> Brugernavn: </strong>  {{ item.order__user__username }}</td> 
                                {% endif %}
                            </tr>

                            <tr> 
                                <td class="text-left" > <strong> Produkt status: </strong> 
                                    {% if item.product__is_active == True %}
                                        Sælges
                                    {% else %}
                                        Sælges ikke
                                    {% endif %}                                    
                                </td> 
                            </tr>

                            <tr> <td class="text-left" > <strong> Produkt og Nr: </strong> {{ item.product__nr }} - {{ item.product__title }} </td> </tr>
                            <tr> <td class="text-left" > <strong> Pris lille: </strong> {{ item.product__small_product_price }} </td> </tr>
                            <tr> <td class="text-left" > <strong> Pris stor: </strong> {% if item.product__large_product_price != 0 %} {{ item.product__large_product_price }} {% else %} Var ikke tilgænglig {% endif %}</td> </tr>
                            <tr> <td class="text-left" > <strong> Produkt antal - lille: </strong> {{ item.small_order_quantity }} </td> </tr>
                            <tr> <td class="text-left" > <strong> Produkt antal - stor: </strong> {{ item.large_order_quantity }} </td> </tr>
                            <tr> <td class="text-left" style="padding-top: 0px; padding-bottom: 0px;"> <input name="new_small_quantity" style="margin-top: -17px" class="form-control" placeholder="Nyt lille produkt antal" min="0" type="number" required> </td></tr>
                            <tr> <td class="text-left" style="padding-top: 0px; padding-bottom: 0px;"> <input name="new_large_quantity" style="margin-top: -17px" class="form-control" placeholder="Nyt store produkt antal" min="0" type="number" required> </td></tr>
                            
                            <input type="hidden" name="item_pk" value="{{ item.pk }}" >
                            <input type="hidden" name="destination" value="admin_orders" >
                            
                        </tbody>
                    
                    </table>                    

                    <!-- Modal form submit btn -->
                    <div class="text-right" style="padding-right: 24px; padding-bottom: 24px; margin-top: -1.3em;">
                        <button type="submit" class="btn btn-lg btn-default"> Gem </button>
                    </div>

                </form>                                    
            </div> <br><br>
        </div>        
    </div>    
</div>

</div>
{% endfor %}
<br><br>

<script>    
    // Makes sure that either one of the two, 'new_small_quantity' or 'new_large_quantity' are NOT empty.
    jQuery(function ($) {
        var $inputs = $('input[name=new_small_quantity],input[name=new_large_quantity]');
        $inputs.on('input', function () {
            // Set the required property of the other input to false if this input is not empty.
            $inputs.not(this).prop('required', !$(this).val().length);
        });
    });

    // Calls the datepicker
    $('#dp').datepicker({
        // When it renders
        onRender: function(date) {    
            // We get the supplied 'orders' and make sure they are safe
            var order_dates = "{{ orders|safe }}";

            // jQuery can only parse JSON if the strings in the dict are in double quotes, not single quotes
            var clean_order_dates = order_dates.replace(/'/g, '"');
            parsed_order_dates = JSON.parse(clean_order_dates); 


            var year = date.getFullYear();
            var day = date.getDate();
            // Adds '1' mathematically to 'date.getMonth()' because Django handle months as 0-11, and Jquery as 1-12
            var month = (date.getMonth() + 1 );
            
            // To compare the dates from the datepicker to the dates supplied by view, we have to add a 0 - from '1' to '01'
            if (month.toString().length == 1) { month = "0" + month }
            if (day.toString().length == 1) { day = "0" + day }

            // Creates a string we can compare the current datepicker date, to all the dates supplied from the view
            var current_date = year + " - " + month + " - " + day;
            
            if(jQuery.inArray(current_date, parsed_order_dates) !== -1) { 
                return date.getDate();
            } else {        
                return 'disabled'
            }

        }
    })    
    
    // When a date is clicked we get a new view, with the requested dates
    .on('changeDate', function(ev){
        var href = window.location.protocol + "//" + window.location.host + "/admin_orders/" + ev.date.getFullYear() + "-" + (ev.date.getMonth() + 1 ) + "-" + ev.date.getDate();
        window.location.replace(href);        
    });

</script>

<script src="{% static 'concatenate_product_title_and_nr.js' %}" rel="text/javascript"></script>


{% endblock content %}